html {
  touch-action: manipulation;

  &.isMobile {
    scroll-behavior: smooth;
  }
}

*,
*:after,
*:before {
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  backface-visibility: hidden;
  box-sizing: border-box;
  outline: none;
  position: relative;
}
