html {
	color: var(--cl-black);
}

// STYLES
a {
	color: inherit;
	text-decoration: none;
}

input,
textarea,
select,
button,
label {
	font-size: 1em;
}

p {
	line-height: 1.8;
}

// SIZES
.sz-heading {
	font-size: 2.25rem;

	@media (min-width: $bk-medium) {
		font-size: 2.5rem;
	}

	@media (min-width: $bk-large) {
		font-size: 3rem;
	}

	@media (min-width: $bk-max) {
		font-size: 4.5rem;
	}
}

// SIZES
.sz-subheading {
	line-height: 1.6;
	font-size: 1.375rem;

	@media (min-width: $bk-medium) {
		font-size: 1.75rem;
	}

	@media (min-width: $bk-large) {
		font-size: 2rem;
	}

	@media (min-width: $bk-max) {
		font-size: 2.75rem;
	}
}

.sz-regular {
	font-size: 1rem;

	@media (min-width: $bk-large) {
		font-size: 1.125rem;
	}
}

.sz-small {
	font-size: 0.875rem;
}

// WEIGHTS
.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.bold {
	font-weight: 700;
}
