// COLORS
html {
	// COLORS
	--cl-white: #fff;
	--cl-black: #0e0e11;
	--cl-red: #ff5050;
	--cl-gray: #404040;
	--cl-light-gray: #f5f6fa;

	&[data-theme='dark'] {
		--cl-white: #0e0e11;
		--cl-black: #fff;
		--cl-gray: #e3e3e3;
		--cl-light-gray: #14151a;
	}
}

// BREAKPOINTS
$bk-min: 360px;
$bk-small: 480px;
$bk-medium: 768px;
$bk-large: 1024px;
$bk-max: 1600px;
$bk-ultwd: 2260px;

// TRANSITION
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
